body{
      font-family: cursive;
}

.singin{

	margin-top : 10px;
}

#inscription{
	margin-top: 10px;
}

#mondiv{
    visibility: hidden;
}

.head{
	background-color: fuchsia;
}

.well{
	background-color:#CCDDFF
}

#vide{
	height: 20px;
}

#fomulaire{
	margin-top: 120px;
}

.message_erreur{
    color : red;
    margin-left: 10px;
  
}